@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    

    /* Colors */

    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* Typography */

    /* Body Copy */

    --body-font-size: 13px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--body-font-size);
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);       
}

.wrapper {
    height: 100%;
    max-width: 32em;
    margin: 40px 25px;  
}

.card {
    position: relative;
    font-family: inherit;
    color: var(--white);   
    background-color: var(--moderate-violet);
    padding: 15px 25px;
    z-index: 1;
    border-radius: 0.45em;
    margin-bottom: 30px;
}

.img-quotation {
    position: absolute;
    height: 7em;
    width: 7em;
    top: 0;
    right: 2.15em;
    z-index: -1;
}

.card-bio {
    display: flex;
    width: 100%;
    height: fit-content;  
    margin: 10px 0;
    padding: 0 10px;
}

.img-bio {
    width: 2em;
    height: 2em;
    border: 2px solid var(--light-gray);
    border-radius: 50%;
}

.username {
    color: var(--light-gray);
    font-size: 0.86em;    
    width: 100%;
    margin-left: 15px;
    padding: 0;
}

.subtext {    
    font-size: 0.83em;
    font-weight: 400;
    opacity: 50%;
}

.first-paragraph {
    font-size: 1.50em;
    padding: 0px 10px;
    word-spacing: 0.03em;
}

.second-paragraph {
    color: var(--light-gray);
    font-size: 1em;
    font-weight: 500;
    opacity: 70%;
    padding: 15px 8px;
    word-spacing: 0.1em;
}

.card:nth-child(2) {
    background-color: var(--very-dark-grayish-blue);
}

.card:nth-child(3), .card:nth-child(5) {
    background-color: var(--white);
}

div.wrapper > div:nth-child(3), div.wrapper > div:nth-child(5) {
    color: var(--very-dark-grayish-blue);
    font-weight: 600;
    font-size: 1.2em;
}

div.wrapper > div:nth-child(3) > p.second-paragraph, div.wrapper > div:nth-child(5) > p.second-paragraph {
    color: var(--very-dark-grayish-blue);
    opacity: 70%;
    word-spacing: 0.10em;
    line-height: 1.3em;
}

.card:nth-child(4) {
    background-color: var(--very-dark-blackish-blue);
}

div:nth-child(4) > div > img {
    border: 2px solid var(--moderate-violet);
}

div.wrapper > div.card:nth-child(4) > p.second-paragraph {
    font-size: 0.8em;
    font-weight: lighter;
}
    
