@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
    

    /* Colors */

    /* Primary */
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    /* Neutral */

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* Typography */

    /* Body Copy */

    --body-font-size: 13px;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--body-font-size);
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);       
}

.wrapper {
    height: 100%;
    max-width: 26em;
    margin: 40px auto; 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    display: none;
}

.card {
    position: relative;
    font-family: inherit;
    color: var(--white);   
    background-color: var(--moderate-violet);
    padding: 15px 25px;
    z-index: 1;
    border-radius: 0.45em;
    margin-bottom: 30px;
}

.img-quotation {
    position: absolute;
    height: 7em;
    width: 7em;
    top: 0;
    right: 2.15em;
    z-index: -1;
}

.card-bio {
    display: flex;
    width: 100%;
    height: fit-content;  
    margin: 10px 0;
    padding: 0 10px;
}

.img-bio {
    width: 2.2em;
    height: 2.2em;
    /* border: 1px solid; */
    border-radius: 50%;
}

.username {
    color: var(--light-gray);
    font-size: 0.95em;    
    width: 100%;
    margin-left: 15px;
    padding: 0;
}

.subtext {    
    font-size: 0.85em;
    font-weight: 400;
    opacity: 50%;
}

.first-paragraph {
    font-size: 1.50em;
    padding: 0px 10px;
    word-spacing: 0.13em;
}

.second-paragraph {
    color: var(--light-gray);
    font-size: 1em;
    font-weight: 500;
    opacity: 70%;
    padding: 15px 8px;    
    margin-top: 0.75em;    
}

.bg-dark-gray {
    background-color: var(--very-dark-grayish-blue);
}

.bg-white {
    background-color: var(--white);
}

.bg-dark-blue{
    background-color: var(--very-dark-blackish-blue);
}

.font-dark-gray {
    color: var(--very-dark-grayish-blue);    
}

.font-dark-gray-low-opacity {
    color: var(--very-dark-grayish-blue);
    opacity: 70%;
    word-spacing: 0.10em;
    line-height: 1.3em;
}

.border-violet {
    border: 2px solid var(--moderate-violet);
}

.border-light-gray-blue {
    border: 1px solid var(--light-grayish-blue);
}

.fw-600 {
    font-weight: 600;
}


/* Media Queries*/

@media screen and (min-width: 48em) {
    .wrapper {
        max-width: 55em;
        margin: 40px auto;
    }
}

@media screen and (min-width: 70em) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 263px);
        column-gap: 2.5em;
        row-gap: 2em;
        min-width: 88em;
        margin: 12.5em auto;
    }

    .card {
        margin: 0;
    }

    .card-1 {
        grid-area: 1 / 1 / 2 / 3;
        
    }

    .img-quotation {
        height: 7.6em;
        width: 7.6em;
        right: 6.5em;
    }

    .card-2 {
        grid-area: 1 / 3 / 2 / 4;
        
    }

    .card-3 {
        grid-area: 2 / 1 / 2 / 2;
    }

    .card-4 {
        grid-area: 2 / 2 / 3 / 4;
    }
    
    .card-5 {
        grid-area: 1 / 4 / -1 / -1;
    }
    
    .card-5 > p.second-paragraph {
        padding-right: 16px;
    }

    .second-paragraph {
        line-height: 1.3em;
        margin-top: 0.35em;      
    }

    .line-height {
        line-height: 1.5em;
    }

    .bottom-right-shadow-card-3 {
        box-shadow:  
        1px 15px 50px 5px rgb(124 133 155 / 36%);
    }

    .bottom-right-shadow-card-5 {
        box-shadow:  
        1px 15px 50px 5px rgb(124 133 155 / 36%);
    }
}
